<div class="panel panel-default">
  <div class="panel-body">
    <h2>Edit Standard</h2>
    <br>
    <form action="/standards/update/<%= @standard.id %>" enctype="multipart/form-data" method="POST">
      <div class="row">
        <div class="form-group col-xs-12">
          <input name="title" type="text" class="form-control" value="<%= @standard.title %>">
        </div>
        <div class="form-group col-xs-6">
          <input name="height" type="text" class="form-control" value="<%= @standard.height %>">
        </div>
        <div class="form-group col-xs-6">
          <input name="width" type="text" class="form-control" value="<%= @standard.width %>">
        </div>
        <div class="form-group col-xs-12">
          <textarea name="description" class="form-control" rows="5" placeholder="Description"><%= @standard.description %></textarea>
        </div>
        <div class="form-group col-xs-12">
          <input type="text" name="source" class="form-control" placeholder="Source" value="<%= @standard.source %>">
        </div>
        <div class="form-group col-xs-6">
          <a href="#" type="fake_submit" action="/standards/delete/<%= @standard.id %>" class="btn btn-primary btn-block delete">Delete</a>
        </div>
        <div class="form-group col-xs-6">
          <button type="submit" class="btn btn-primary btn-block">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>