<form action="/portfolio/update/<%= @entry.id %>" method="POST">

  <br>
  <a href="/portfolio/<%= @entry.id %>" class="btn btn-link btn-block">Back</a>
  <br>
  <div class="portfolio-entry" style="background-color: <%= @entry.color %>">
    <h1>
      <input class="<%= @entry.font %>" type="text" name="title" class="form-control" value="<%= @entry.title %>">
    </h1>
  </div>
  <br>

  <div class="row">
    <div class="form-group col-xs-4">
      <input type="text" name="color" class="form-control" placeholder="Hex Color" value="<%= @entry.color %>" required>
    </div>
    <div class="form-group col-xs-4">
      <input type="text" name="blurb" class="form-control" placeholder="Blurb" value="<%= @entry.blurb %>" required>
    </div>
    <div class="form-group col-xs-4">
      <select name="font" class="form-control" default="<%= @entry.font %>" required>
        <option value="knewave">Knewave</option>
        <option value="heebo">Heebo</option>
        <option value="lobster">Lobster</option>
        <option value="pacifico">Pacifico</option>
        <option value="pepermine-marker">Pepermine Marker</option>
      </select>
    </div>
    <div class="form-group col-xs-12">
      <textarea name="description" class="form-control" rows="15"><%= @entry.description %></textarea>
    </div>
    <div class="form-group col-xs-12">
      <input type="text" name="github" class="form-control" placeholder="Github" value="<%= @entry.github %>" required>
    </div>
    <div class="form-group col-xs-12">
      <input type="text" name="website" class="form-control" placeholder="Url" value="<%= @entry.website %>" required>
    </div>
    <div class="form-group col-xs-6">
      <a type="fake_submit" action="/portfolio/delete/<%= @entry.id %>" class="btn btn-primary btn-block">Delete</a>
    </div>
    <div class="form-group col-xs-6">
      <button type="submit" class="btn btn-primary btn-block">Update</button>
    </div>
  </div>
</form>

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Knewave|Heebo:900|Lobster|Pacifico|Permanent+Marker">
<link rel="stylesheet" href="/css/portfolio.css">