<% if @user %>
  <br>
  <a href="/portfolio/edit/<%= @entry.id %>" class="btn btn-link btn-block">Edit</a>
<% end %>

<br>
<div class="portfolio-entry" style="background-color: <%= @entry.color %>">
  <h1 class="text-center <%= @entry.font %>"><%= @entry.title %></h1>
</div>
<br>

<p><%= @entry.description %></p>

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Knewave|Heebo:900|Lobster|Pacifico|Permanent+Marker">
<link rel="stylesheet" href="/css/portfolio.css">
