<div class="row">
  <div class="col-lg-10 col-lg-offset-1">

    <h2 class="text-center">Portfolio</h2>
    <hr class="secondary">

    <div class="row no-margin">
      <% if @user %>
      <div class="col-xs-12">
        <a type="fake_submit" class="btn btn-block btn-link" action="/portfolio/new_entry">add</a>
      </div>
      <% end %>

      <% @portfolio_entries.each do |entry| %>
      <a class="col-xs-12" href="/portfolio/<%= entry.id %>">
        <div class="portfolio-entry" style="background-color: <%= entry.color %>">
          <h1 class="text-center <%= entry.font %>"><%= entry.title %></h1>
          <div class="portfolio-blurb" style="color: <%= entry.color %>"><%= entry.blurb %></div>
        </div>
      </a>
      <% end %>
    </div>

  </div>
</div>

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Knewave|Heebo:900|Lobster|Pacifico|Permanent+Marker">
<link rel="stylesheet" href="/css/portfolio.css">