<h2 class="text-center">Portfolio</h2>

<div class="row no-margin">
  <% if @user %>
  <div class="col-xs-12">
    <form method="POST" action="/portfolio/new_entry">
      <div class="portfolio-entry add-portfolio-entry fake-submit" style="background-color: #336699">
        <h6 class="text-center"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></h6>
      </div>
    </form>
  </div>
  <% end %>
  
  <% @portfolio_entries.each do |entry| %>
    <a class="col-xs-12" href="/portfolio/<%= entry.id %>">
      <div class="portfolio-entry" style="background-color: <%= entry.color %>">
        <h1 class="text-center <%= entry.font %>"><%= entry.title %></h1>
        <div class="blurb" style="color: <%= entry.color %>"><%= entry.blurb %></div>
      </div>
    </a>
  <% end %>
</div>

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Knewave|Heebo:900|Lobster|Pacifico|Permanent+Marker">
<link rel="stylesheet" href="/css/portfolio.css">