<div class="row">
  <div class="col-lg-8 col-lg-offset-2">

    <h1 class="text-center">Portfolio</h1>
    <br>

    <div class="portfolio-timeline">
      <% PortfolioEntry.where({publish: true}).order("created_at DESC").each do |entry| %>
      <div class="panel panel-default">
        <div class="panel-heading pannel-portfolio-header">
          <div class="portfolio-entry" style="background-color: <%= entry.color %>">
            <h1 class="text-center <%= entry.font %>"><%= entry.title %></h1>
            <p class="portfolio-date"><%= entry.date.strftime("%m/%d/%Y") %></p>
          </div>
        </div>
        <div class="panel-body">
          <%= entry.blurb %>
          <a href="/portfolio/<%= entry.id %>">Read More</a>
        </div>
      </div>
      <% end %>
    </div>
    
  </div>
</div>

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Knewave|Heebo:900|Lobster|Pacifico|Permanent+Marker">
<link rel="stylesheet" href="/css/portfolio.gz">