<h1 class="page-title">Blog Posts</h1>
<a href="#" id="add" class="text-center btn btn-block btn-link" type="fake_submit" action="/blog_post/new">add</a>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Published</th>
      <th class="text-right">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @blog_posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td>
        <% if post.publish %>
        <%= post.publish_date.strftime("%m/%d/%Y") %>
        <% end %>
      </td>
      <td class="text-right">
        <a href="/blog/<%= post.id %>">View</a>
        <a href="/blog_post/edit/<%= post.id %>">Edit</a>
        <a href="#" type="fake_submit" class="delete" action="/blog_post/delete/<%= post.id %>">Delete</a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
