<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="author" content="Christian Juth">
  <meta name="keywords" content="Christian Juth, Portfolio, Programming, Coding, Music">
  <meta name="description" content="The personal portfolio of Christian Juth">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <title>Christian Juth</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/loaders.css/0.1.2/loaders.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/journal/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Droid+Sans+Mono|Asap:700|PT+Sans">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/square/red.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/github.min.css">
  <link rel="stylesheet" href="/bower/css-ripple-effect/dist/ripple.min.css">
  <link rel="stylesheet" href="/css/style.gz">

  <!-- Scripts -->
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/formatter.js/0.1.5/jquery.formatter.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
  <script src="//www.google.com/recaptcha/api.js"></script>
  <script type="text/javascript" src="/js/main.gz"></script>
  
  <%= ERB.new(File.read("./app/views/components/open-graph.erb")).result(binding) %>
</head>
<body>
  <!-- Improve Google Ranking  -->
  <h1 class="hidden" style="display:none">Christian Juth</h1>
  
  <!-- Loader -->
  <div class="loader hidden">
    <div class="line-scale"><div></div><div></div><div></div><div></div><div></div></div>
  </div>
  <script type="text/javascript">
    isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor)
    if (isChrome == true) {
      document.getElementsByClassName("loader")[0].classList.remove("hidden");
    }
  </script>
  
  <%= if @user
          ERB.new(File.read("./app/views/components/admin-header.erb")).result(binding) 
      end %>
  <%= ERB.new(File.read("./app/views/components/header.erb")).result(binding) %>
  
  <div class="container-fluid">
    <div class="row page">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <%= ERB.new(File.read("./app/views/components/page-header.erb")).result(binding) %>
        <div class="page-content">
          <%= yield %>
        </div>
        <%= if @contact == true
              ERB.new(File.read("./app/views/components/contact.erb")).result(binding) 
            end %>
        <%= if @comments == true
              ERB.new(File.read("./app/views/components/disqus.erb")).result(binding) 
            end %>
      </div>
    </div>
  </div>
  
  <%= ERB.new(File.read("./app/views/components/footer.erb")).result(binding) %>
  
  <% if Sinatra::Base.production? && defined?(@user).nil? %>
    <%= ERB.new(File.read("./app/views/components/analytics.erb")).result(binding) %>
  <% end %>
</body>
</html>
